@charset "UTF-8";

.eni-form-footer input, .eni-form-footer a {
	height: 5rem;
}
.eni-form-footer a {
	line-height: 3.7rem;
}
.eni-form-footer input {
	box-shadow: 0px 1rem 2rem #00bd2bad;
}
.eni-form-footer input:hover {
	cursor: pointer;
}
.eni-form-footer a {
	box-shadow: 0px 1rem 2rem #ff5666ab;
}