@charset "UTF-8";
.form-control {
	
    border-radius: 1.70rem;
}

.col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-left : 0.1rem;
} 

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid #495057;
    border-radius: 0.25rem;
}

.eni-btn-rechercher {
	box-shadow: 5px 5px 5px #007bff ;
    color: #fff;
    background-color: #aabecd;
    border-color: #007bff;
    height : 4rem;
}



.form-check-inline {
    display: inline-block;
    margin-right: 2.75rem;
}


.form-check-inline {
    display: inline-block;
    margin-right: 0.75rem;
}
.form-check {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 1 rem;
}
