@charset "UTF-8";

.btn-block.eni-btn-connexion {
	height:100%;
	box-shadow: 1rem 1rem 1rem #6cb3ff;
}

.eni-btn-nvCompte {
	height : 8rem;
	box-shadow: 1rem 1rem 1rem #6cb3ff;
	line-height: 7rem;
}

.eni-col-nvCompte:hover a {
	text-decoration: none;
}


@media only screen and (max-width: 355px) {
	.btn-block.eni-btn-connexion {
		font-size: 1rem;
		height: 80%;
	}
	.eni-lbl-login {
		font-size: 1.05rem;
	}
}
